#root {
  width: 100%;
  height: 100%;
  background-color: #fff;
  --color-primary: #34495F;
  --color-secondary: #EE9480;
  --color-info: #A4BAB7;
  --color-warning: #EFF2C0;
  --color-background: #ffffff;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

dialog {
  background: transparent;
  border: 0 aliceprimary !important;
  padding: 0px !important;
  min-width: 500px;
  min-height: 500px;
}


.card {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  color: var(--main-primary);
}

/* section header */
.card-title {
  background-color: var(--main-primary);
  color: #fff;
  padding: 1rem 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: -1rem -1rem 1rem -1rem;
  text-align: center;
}

.card-title h2 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

/* buttons using accent colors */
.button-primary {
  background-color: var(--main-secondary);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.button-primary:hover {
  background-color: var(--main-secondary);
  color: var(--main-primary);
}

.fieldGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.fieldGroup label {
  min-width: 80px;
  text-align: left;
  margin-right: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #333;
}

.fieldGroup input {
  flex: 1;
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.fieldGroup input:focus {
  border-color: var(--main-primary);
  box-shadow: 0 0 5px rgba(0, 232, 252, 0.4);
}

.modalButtons{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}

.progress-bar {
  height: 8px;
  background: #eee;
  border-radius: 4px;
  margin-top: 6px;
}

.progress-fill {
  height: 100%;
  background: #5c6bc0;
  border-radius: 4px;
}