#root {
  width: 100%;
  height: 100%;
  background-color: #fff;
  --main-gray: #34495F;
  --main-purple: #9192FF;
  --main-orange: #FEB649;
  --main-yellow: #FCE51C;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.page-container {
  display: flex;
  height: 100vh;
}

/* Left section (illustration or branding) */
.page-left {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right section (form with solid color background) */
.page-right {
  flex: 1;
  background-color: var(--main-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}